.ui-chat-box {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(60, 65, 115, 0.25);
    border-radius: 6px 0px 0px 6px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    height: 600px;

    &.minimized {
        height: auto;
    }

}

.ui-chat-head {
    padding: 10px 20px;
    border-bottom: 1px solid #CBCBCB;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;

        li {
            button {
                padding: 0;
                border: 0;
                background: none;
                color: #0072BC;
                font-size: 20px;
            }

            &:first-child {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    width: 120px;
                }

                p {
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #42484D;
                }
            }

            &:last-child {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}