

.ui-cat-checkbox {
    margin-bottom: .8rem;

    input {
        height: 20px;
        width: 20px;
    }

    label {
        vertical-align: middle;
        padding-left: 8px;
        font-size: 16px;
    }
}
