.ui-form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  p {
    font-size: 16px;
    font-weight: 600;
    color: #1c1c1c;
  }
}

.ui-form-box {
  position: relative;
  padding: 0 0 120px 0;
}

.ui-form-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 1.6rem;
}

.ui-form-content {
  // border: 1px solid #CBCBCB;
  padding: 30px;
  width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-size: 32px;
    font-weight: 600;
    color: #1c1c1c;
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 0;
    width: 100%;
  }

  .input-field-wrapper {
    display: flex;
    flex-direction: column;
  }

  .login-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    padding: 0;
  }

  .btn {
    width: 100%;
    margin: 1rem 0;
  }

  p {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
  }

  .login-message-caption {
    width: 352px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 40px !important;
    color: #81818f;
  }

  .text-start {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #81818f;
    width: 352px;
  }

  .password-health-check-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 352px;

    .password-progress {
      width: 120px;
      height: 3px;
      margin-right: 8px;
    }

    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-transform: capitalize;
    }
  }

  .recaptch-wrapper {
      width: 352px;
      padding: 0;
      box-sizing: border-box;
      margin: 16px 0;

      .captcha-blog {
        width: 100%;

      }
  } 
}

.form-toggle-btn {
  width: 352px;
  background-color: #f6f7f9;
  border-radius: 5px;

  .toggle-btn-wrapper {
    width: 50%;
    padding: 5px;

    button {
      width: 100%;
      color: #b2b2c2;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .active {
      background-color: #fff !important;
      color: #0b80cc;
      text-decoration: none;
    }
  }
}

.ui-form-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;

  .form-check {
    display: flex;
    align-items: center;

    input {
      height: 22px;
      width: 22px;
    }

    label {
      padding-left: 10px;
    }
  }
}

.ui-form-head {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    height: 1px;
    width: 100%;
    background-color: #616161;
  }
}

.ui-form-social-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 352px;

  button {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
    background: none;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.ui-form-pwd-notify {
  li {
    font-size: 14px;
    font-weight: 400;
    color: #6c757d;
  }
}

.ul-pwd-mark-circle {
  display: flex;
  align-items: center;
  gap: 6px;

  span {
    display: block;
    height: 10px;
    width: 10px;
    background-color: #9aa7b3;
    border-radius: 50%;

    &.low {
      background-color: #ff6666;
    }

    &.medium {
      background-color: #f7a428;
    }

    &.strong {
      background-color: #2aac27;
    }
  }
}

.ui-pwd-strength {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 12px;
    font-weight: 400;
    color: #000;
  }
}

.ui-country-code {
  width: 88px;
  position: absolute;
  left: 10px;
}

.ui-phone-no .PhoneInputCountrySelectArrow {
  width: 10px !important;
  height: 10px !important;
  position: absolute;
  right: -80px;
  top: 8px;
}

.ui-phone-no .css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input {
  margin-left: 132px !important;
}

.ui-phone-no #phoneNumber {
  padding-left: 0 !important;
}

.ui-phone-no label {
  padding-left: 125px !important;
}

.ui-phone-no label.MuiFormLabel-filled,
.ui-phone-no label.Mui-focused {
  padding-left: 0 !important;
}

.ui-phone-no label.Mui-focused {
  padding-left: 130px !important;
}

.ui-phone-no .PhoneInput input {
  border: none;
  width: auto;
}

.ui-phone-no .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  padding-left: 0 !important;
}

.ui-form-lable-error {
  font-size: 14px;
  font-weight: 400;
  color: #ff6666;
}

// sign in page

.ui-form-signin-info {
  display: flex;
  justify-content: space-between;
  width: 352px;
}

.ui-stay-signin-link {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 8px;

  a {
    color: #0b80cc;
    font-weight: 400;
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }
}

.ui-stay-signin {
  input {
    height: 20px;
    width: 20px;
  }

  label {
    vertical-align: middle;
    padding-left: 6px;
    font-weight: 400;
    color: #25252e;
  }
}

// welcome page

.ui-welcome-form-info {
  p {
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
    padding: 4px 0;
  }
}

// add mobile no
.ui-add-mob-not-now {
  background: none;
  border: none;
  padding: 0;
  fallback: 16px;
  font-weight: 600;
  color: #0072bc;
}

.ui-add-mob-info {
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c !important;
}

// single user code page

.ui-single-code-info {
  h4 {
    font-size: 22px;
    font-weight: 600;
    color: #1c1c1c;
    padding-bottom: 20px;

    &:last-of-type {
      padding-top: 40px;
    }
  }
}

.ui-single-code-box {
  display: flex;
  gap: 10px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.ui-single-code-info {
  > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #6c757d;

    a {
      font-weight: 600;
    }

    &:last-of-type {
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.ui-scb-right {
  p {
    &:first-of-type {
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: #0072bc;
      padding-bottom: 10px;
    }

    &:last-of-type {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #6c757d;
    }
  }
}

// verify you page
.ui-vy-button {
  display: flex;
  align-items: baseline;
  gap: 20px;

  button {
    text-transform: capitalize;

    &:first-of-type {
      background: #0072bc;
    }

    &:last-of-type {
      border-color: #0072bc;
    }
  }
}

.ui-vy-footer-link {
  text-align: start !important;
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
}

.ui-vpm-footer {
  padding: 0 !important;
  text-align: start !important;
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
}

// popup
.ui-error-popup {
  max-width: 300px !important;
}

// join verify page
.ui-join-box {
  padding: 5px;
  margin-top: 50px;
}

.join-verify-logo-wrapper {
  margin-top: 45px;
}

.ui-join-head {
  border-bottom: 1px solid #E4E4EE;
  padding-bottom: 20px;

  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
  }
}

.ui-join-content {
  > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 26px;
    color: #81818F;
    b {
      color: #25252E;
      font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    }
  }
}

.ui-join-mail-box {
  position: relative;

  > div {
    display: inline-block;
  }

  button {
    padding: 0;
    border: 0;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #0072bc;
  }

  .receive-email-text-wrapper {
      width: 100%;
      margin: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

}

.ui-join-mail-info {
  position: absolute;
  background-color: #fff;
  top: 47px;
  left: -42px;
  z-index: 99;
  padding: 20px 20px 20px 42px;
  width: 304px;

  box-shadow: 0px 0px 87px -42px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 87px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 87px -42px rgba(0, 0, 0, 0.75);
  border-radius: 6px;

  &::after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    li {
      padding: 6px 0;
    }

    button {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #0072bc;
    }
  }
}

/**
max 576px 
**/

@media all and (max-width: 576px) {
  .ui-form-content {
    width: 100%;
    padding: 0;
    border: none;
  }

  .ui-form-content {
    h4 {
      font-size: 20px;
    }
  }

  .ui-form-option {
    justify-content: flex-start;
  }

  .ui-form-option {
    .form-check {
      display: flex;

      input {
        height: 16px;
        width: 16px;
      }

      label {
        font-size: 12px;
        padding-left: 4px;
        white-space: pre;
      }
    }
  }
}

.ui-form-link {
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #81818f;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .ui-form-social-btn {
    button {
      font-size: 14px;
    }
  }

  .ui-form-logo {
    padding-bottom: 3rem;
  }

  .ui-form-logo {
    svg {
      width: 180px;
    }
  }

  .ui-form-content {
    width: 500px;

    p {
      font-size: 14px;
    }

    h4 {
      font-size: 20px;
    }

    form {
      .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 14px !important;
      }

      .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 5px 10px !important;
      }
    }
  }

  .ui-form-option {
    .form-check {
      display: flex;
      align-items: center;

      label {
        font-size: 14px;
      }

      input {
        height: 18px;
        width: 18px;
      }
    }
  }

  .ui-form-link {
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #81818f;
    }
  }
}
