.ui-product-card {
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 20px;

    &:nth-of-type(4n) {
        border-right: 0;
    }

    img {
        height: 255px;
        width: 100%;
        object-fit: contain;
    }

    p {
        &:first-of-type {
            font-size: 18px;
            font-weight: 500;
            color: #0072BC;
            padding-top: 1rem;
        }

        &:last-of-type {
            font-size: 16px;
            font-weight: 400;
            color: #6C757D;

            span {
                color: #EB5454;
            }
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        color: #1C1C1C;
        padding: 10px 0;
    }

    a {
        font-size: 18px;
        font-weight: 600;
        background: none;
        padding: 0;
        border: none;
        color: #6C757D;
        margin-top: 10px;



        svg {
            transform: rotate(-90deg);
            transition: all .3s;
        }

        &:hover {
            svg {
                transform: rotate(0);
            }
        }
    }
}

.ui-product-list-card {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    gap: 1rem;

    img {
        height: 255px;
        width: 255px;
        object-fit: contain;
    }

    p {
        &:first-of-type {
            font-size: 18px;
            font-weight: 500;
            color: #0072BC;
        }

        &:nth-of-type(3),
        &:nth-of-type(2) {
            font-size: 16px;
            font-weight: 400;
            color: #6C757D;

            span {
                color: #EB5454;
            }
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        color: #1C1C1C;
        padding: 10px 0;
        margin-bottom: 0;
    }

    a {
        font-size: 18px;
        font-weight: 600;
        background: none;
        padding: 0;
        border: none;
        color: #6C757D;
        margin-top: 10px;



        svg {
            transform: rotate(-90deg);
            transition: all .3s;
        }

        &:hover {
            svg {
                transform: rotate(0);
            }
        }
    }
}