.menu-container {
  margin-left: 110px;
  margin-right: 110px;
}

.menu-ns .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: none !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.menu-ns .me-auto {
  margin-right: 0 !important;

  display: flex;
  justify-content: space-between !important;
  width: 100%;
}

.menu-ns .navbar {
  background-color: transparent !important;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-ns {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.menu-ns .nav-item a {
  color: var(--text-color-3) !important;
  font-weight: 500;
  font-size: 18px;
}

.menu-ns .nav-link {
  padding: 12px 1rem;
  padding-top: 7px;
  padding-bottom: 8px;
}

.menu-ns .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.menu-ns .navbar-expand-lg .navbar-nav .nav-link {
  /* padding-right: .5rem;
    padding-left: .5rem; */
  padding-left: 0;
  padding-right: 0;
}

.menu-ns .navbar-toggler,
.menu-ns .navbar-toggler:active {
  border: none !important;
  box-shadow: none !important;
}

.menu-ns .navbar-toggler-icon {
  font-size: 18px;
}

.menu-ns .navbar {
  display: flex;
  flex-direction: column;
  align-items: unset;
}

@media screen and (max-width: 1650px) {
  .menu-container {
    margin-left: 25px;
    margin-right: 25px;
  }
  .menu-ns .nav-item a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1366px) {
  .menu-ns .nav-link {
    padding: 12px 1rem;
    padding-top: 8px;
    padding-bottom: 9px;
  }
  .menu-ns .nav-item a {
    font-size: 12px;
  }
}

/* @media screen and (max-width: 1280px) {
  .menu-ns .nav-link {
    padding: 15px 1rem;
  }
} */

@media screen and (max-width: 1200px) {
  .menu-ns .navbar-toggler {
    flex: 0.01;
  }
}
@media screen and (max-width: 1198px) {
  .menu-ns .navbar {
    display: flex;
    flex-direction: row;
  }

  .menu-ns .me-auto {
    margin-right: 0 !important;
    display: flex;
    justify-content: space-between !important;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .menu-ns .menu-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-ns .nav-item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .menu-ns .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen {
  .menu-ns .navbar-nav .dropdown-menu {
    font-size: 14px;
  }
}
