.ui-content-tab-box {
    padding: 50px;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .demo-editor {
        border: 1px solid #ddd;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
}

.ui-content-overview {

    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #0C0C0C;
        padding-bottom: 2rem;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: #616161;
        padding-bottom: 20px;
    }

    button {
        background: #0072BC;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        height: 35px;
        border: none;
        padding: 0 2rem;
        margin-bottom: 1.4rem;
        transition: all .3s;

        &:hover {
            background-color: #0264a5;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            &:first-of-type {
                background: none;
                border: 1px solid #CBCBCB;
                color: #616161;

                &:hover {
                    background-color: #616161;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.ui-company-facets {
    ul {
        padding-left: 0;
        display: grid;
        grid-template-columns: 150px 0.8fr;

        li {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 145%;
            color: #000000;

            &:last-of-type {
                font-weight: 400;
                color: #616161;
            }
        }
    }
}

.ui-image-content {

    h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 145%;
        color: #000000;
    }

    &-logo {
        padding: 10px 0;

        svg {
            width: 200px;
        }
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 145%;
        color: #0072BC;
    }
}

.ui-contect-box {
    .ui-contact-box-card {
        h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 145%;
            color: #000000;
        }

        ul {
            padding-left: 0 !important;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                color: #616161;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 145%;
            color: #0072BC;
            padding-bottom: 0;

            span {
                color: #616161;
            }
        }
    }
}


.ui-ipp {
    >ul {
        &:nth-of-type(1) {
            display: flex;
            align-items: center;
            border-top: 1px solid #CBCBCB;
            border-bottom: 1px solid #CBCBCB;
            justify-content: space-between;
            padding: 1rem 2rem !important;

            li {
                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-content {
        margin-bottom: 1rem;
        padding: 1rem 2rem !important;

        &:last-of-type {
            margin-bottom: 0;
        }

        >p {
            padding-bottom: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            color: #0C0C0C;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 145%;
                        color: #0072BC;
                    }
                }
            }
        }

    }

    &-btn {
        border-top: 1px solid #CBCBCB;
        padding: 1rem 2rem !important;
        margin-bottom: 3rem;

        button {
            all: unset;
            background: none;
            padding: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #2AAC27;

            &:hover {
                background: none;
            }

            svg {
                vertical-align: middle;
            }
        }
    }
}

.ui-scam-content {
    p {
        margin-bottom: 0;

        b {
            display: block;
            padding-bottom: 8px;
        }
    }

    ul {
        list-style-type: disc !important;
        padding-left: 1.4rem !important;

        li {
            padding: 10px;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}