.claim-open-header {
  padding: 20px 30px;
  border-bottom: 1px solid #cbcbcb;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 24px;
  }
  p {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 140%;
    color: #6c757d;
  }
}
