.ui-career-add-cat-box {
    .ui-news-box-head {
        margin-bottom: 0;
        padding: 1rem 0;
    }

    &-head {
        padding: 1rem 0;
        border-bottom: 1px solid #CBCBCB;

        button {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 20px;
            line-height: normal;
            color: #0072BC;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &-editor {
        .public-DraftStyleDefault-ltr {
            border-bottom: 1px solid #ddd;
            padding: 1rem;
        }
    }

    &-form {
        padding: 2rem 0;

        label {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #616161;
            padding-bottom: 4px;
        }

        .form-control,
        .form-select {
            box-shadow: none !important;
            border: 1px solid #CBCBCB !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #616161;

        }
    }
}

.line {
    border-left: 1px solid #CBCBCB;
    padding-left: 2rem !important;
}