.ui-scl-left-top {
    padding-bottom: 30px;

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    button {
        background: #2AAC27;
        border-radius: 6px;
        width: 100%;
        border: none;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;

        &:hover {
            background-color: #1a8d18;
        }
    }
}

.ui-scl-tab {
    border: 1px solid #CBCBCB;
    border-radius: 6px;

    ul {
        list-style-type: none;
        padding-left: 0;
        border-bottom: 1px solid #CBCBCB;

        &:last-of-type {
            border-bottom: none;
        }

        li {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #1C1C1C;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #EDF6FF;
                color: #0072BC;
            }
        }
    }
}

.ui-scl-head-name {
    padding: 10px 20px;
    background-color: #EDF6FF;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 69px;

    p {
        color: #0072BC;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }
}

.ui-scl-tab-filter-box {
    padding: 20px;
    border: 1px solid #CBCBCB;
    border-radius: 6px;

    >p {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #000000;

    }
}

.ui-scl-head-tab {
    border-bottom: 1px solid #CBCBCB;

    button {
        padding: 14px 20px;
        border: 0;
        background: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;

        &.active {
            border-bottom: 1px solid #9F2B05;
        }

        span {
            color: #9F2B05;
        }
    }
}

.ui-scl-search-box {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 50%;

    button {
        padding: 0;
        border: none;
        background: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0072BC;
    }

}

.ui-scl-head-filter {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1rem;
    padding: 1rem 0;

    .css-1pahdxg-control,
    .css-1s2u09g-control {
        height: 42px !important;
    }
}

.ui-scl-search {
    display: flex;
    border: 1px solid hsl(0, 0%, 80%);
    height: 42px;
    border-radius: 4px;

    .form-control {
        margin-bottom: 0;
        border: none;
    }

    .css-1s2u09g-control,
    .css-1pahdxg-control {
        width: 150px;
        border: none !important;
        height: 100% !important;
        border-width: 0;

        &:hover {
            border: none !important;
            box-shadow: none !important;
        }

        &:focus {
            border: none !important;
            box-shadow: none !important;
        }

        &:visited {
            border: none !important;
            box-shadow: none !important;
        }
    }

    button {
        width: 100px !important;
        border: none;
        background: none;
        border-left: 1px solid hsl(0, 0%, 80%);
        color: #0072BC;
        font-size: 17px;
    }
}

.ui-soc-table-head-left {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        height: 20px;
        width: 20px;

        &:focus {
            box-shadow: none;
        }
    }

    .css-b62m3t-container {
        width: 255px;
    }

    .css-1gtu0rj-indicatorContainer,
    .css-tlfecz-indicatorContainer {

        display: none !important;
    }
}

.ui-soc-thl-select {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }
}

.ui-soc-table-head {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: 6px 6px 0 0;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0;
}

.ui-soc-table-head-rigth {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #1C1C1C;
    }

    .css-b62m3t-container {
        width: 300px;
    }
}

.ui-soc-table {
    border: 1px solid hsl(0, 0%, 80%);
    // border-top: 0;

    tr {
        vertical-align: top !important;
    }

    table {
        thead {
            tr {
                background-color: #EDF6FF;


                th {
                    padding: 14px 10px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    color: #0072BC;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid hsl(0, 0%, 80%);

                &:last-child {
                    border-bottom: none;
                }

                td {
                    padding: 10px;
                }
            }
        }
    }
}

.ui-table-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    input {
        height: 20px;
        width: 20px;

        &:focus {
            box-shadow: none;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        color: #616161;
        white-space: pre;
    }
}

.ui-table-order {
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #0072BC;

        span {
            color: #616161;
        }
    }
}

.ui-table-photo {
    min-width: 95px;
    width: 95px;
    height: 95px;
    background: #C4C4C4;
    border-radius: 2px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 2px;
        display: none;
    }
}

.ui-table-photo-info {
    margin-left: 20px;
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #0072BC;
        padding-bottom: 6px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;

        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #616161;
        }
    }
}


.ui-table-listing-status {
    // .badge {
    //     height: 24px;
    //     border-radius: 2px;
    //     font-weight: 500;
    //     font-size: 14px;
    //     line-height: 17px;
    //     color: #FFFFFF;
    //     margin-bottom: 8px;

    //     &.unshipped {
    //         background: #EB5454 !important;
    //     }

    //     &.unpaid {
    //         background: #6C757D !important;
    //     }

    //     &.shipped {
    //         background: #2AAC27 !important;
    //     }
    // }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #616161;
        white-space: pre;
    }
}

.ui-table-listing-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.ui-table-listing-bids{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.ui-table-action-btn {

    .dropdown {
        button {
            padding: 0;
            border: none;
            background: none !important;
            font-weight: 400;
            font-size: 14px;
            line-height: 135%;
            text-align: right;
            color: #0072BC;
            white-space: pre;

            &:focus {
                box-shadow: none !important;
                background: none;
                color: #0072BC;
            }

            &::after {
                display: none;
            }
        }

        .dropdown-item {
            white-space: pre !important;

            &:hover {
                background-color: #EDF6FF !important;
                color: #0072BC !important;
            }
        }

        .dropdown-menu {
            border: none !important;
            box-shadow: 0px 4px 16px rgba(60, 65, 115, 0.1);
        }
    }
}


.ui-soc-table-bottom {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-top: 0;
}

.ui-soc-table-pagination {
    border-radius: 0 0 6px 6px;
    padding: 20px 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-top: 0;

    .ui-td-pag-box {
        border: none;
        padding: 0 10px;
    }
}

.success-message{
    border: 2px solid #2AAC27;
    background-color: transparent;
    color: #2AAC27;
    border-radius: 8px;
}



