nav#navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 4px solid #fff;
  padding: 6px 25px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #1c1c1c;
}
.fixed-top {
  top: auto;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
div#top_ser {
  /* float: left; */
  width: 100%;
  padding: 15px;
}
form.example {
  display: flex;
  width: 100%;
}

div#top_ser {
  /* float: left; */
  width: 100%;
  padding: 15px;
}
.logo_sec {
  width: 20%;
}
.sercah_box {
  width: 60%;
  margin: 0 auto;
}
.social_sec {
  width: 20%;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #cbcbcb;
}
select.mdb-select.md-form {
  background: #f1f1f1;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #cbcbcb;
  width: 20%;
  padding: 7px;
}
form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 0px 6px 6px 0px;
}
i.fa.fa-search {
  color: #616170;
}
button.Sell {
  border: 1px solid #0072bc;
  color: #0072bc;
  background: transparent;
  border: 1px solid #0072bc;
  align-items: center;
  padding: 10px 30px;
  border-radius: 6px;
}
.social_sec {
  width: 20%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.social-links.align-items-center a {
  padding: 0px 15px;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: inherit;
}
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgb(25 119 204 / 10%);
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}
.fst_head {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 30px;
}
.user_info {
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 30px;
  width: 100%;
  display: flex;
  height: 142px;
}
.user_info .left_side {
  width: 20%;
  float: left;
}
.user_info .right_side {
  width: 80%;
  padding-left: 30px;
}
.user_info .right_side > h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1c1c1c;
}
.user_info .right_side > p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #6c757d;
}
.container_no {
  width: 100%;
  float: left;
  padding: 0px 120px;
}
.space_div {
  margin-bottom: 90px;
  float: left;
  width: 100%;
}

.footer_menu {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.footer_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer_menu ul li a {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1c1c1c;
}
.copyright {
  padding-top: 0px;
  padding-bottom: 30px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
  justify-content: center;
}
.copyright u {
  color: #0072bc;
  text-decoration: none;
}
nav#navbar ul li a:hover {
  color: #2aac27;
  border-bottom: 3px solid #2aac27;
}
.mob_icons {
  display: none;
}
.need_mobile {
  display: none;
}
.mob_sercah {
  display: none;
}
h3.all_heading {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 20px;
}
.add_nee ul li img {
  padding-right: 10px;
}
.add_nee ul li {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  width: 540px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0072bc;
}
.add_nee ul {
  list-style: none;
  padding-left: 0px;
}
.out_new_form label {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000;
}
.out_new_form .form-control {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  line-height: 140%;
  padding: 9px 15px;
  font-family: "SF Pro Display";
  font-style: normal;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: 0.5;
  top: 0.5em;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cbcbcb;
}
.out_new_form form.card.card-block.bg-faded {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  width: 621px;
  padding: 30px;
}
.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
  padding-left: 0px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #2aac27 !important;
  outline: 0;
  box-shadow: none;
}
.w3-clear.add-cancel {
  float: left;
  width: 100%;
  padding: 5px 0px;
}
a.w3-left.w3-btn.Add {
  background: #0072bc;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  color: #fff;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 48%;
  float: left;
  text-align: center;
  border: 1px solid #0072bc;
}
a.w3-right.w3-btn.Cancel {
  background: transparent;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  color: #0072bc;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #0072bc;
  width: 48%;
  float: right;
  text-align: center;
}
.add-cancel .w3-btn:hover {
  opacity: 0.5;
}
.Expiration_date input#first {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}

.Security_code input.form-control {
  margin-left: 5px;
}
.out_new_form input {
  cursor: pointer !important;
}
p.alert-pay {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #eb5454;
  padding-top: 5px;
}
.wrong {
  width: 100%;
  float: left;
  padding: 20px 10px;
}
.wrong img {
  width: 100%;
}
.info_div p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}
.line_div {
  border: 1px dashed #cbcbcb;
  margin-bottom: 30px;
}
.inner_content {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 30px;
}
h4.ine_haed {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #1c1c1c;
}
.inner_content p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
button.btn.Edit {
  background: #0072bc;
  border-radius: 6px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  border: 1px solid #0072bc;
  width: 200px;
  margin-bottom: 10px;
  padding: 8px;
}
.delete {
  background: transparent !important;
  color: #0072bc !important;
}
a.w3-left.w3-btn.add_address {
  background: #0072bc;
  border-radius: 6px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  border: 1px solid #0072bc;
  width: 300px;
  margin-bottom: 10px;
  padding: 8px 30px;
}
.need-right {
  text-align: end;
}
.inner_content .row {
  padding: 30px;
}
form.new_form {
  width: 550px;
}
p.alert-pay {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #eb5454;
  padding-top: 5px;
}
div#ned_tool img {
  position: absolute;
  right: -23px;
}
div#ned_tool {
  position: relative;
}
.on\+hob {
  position: absolute;
  right: -80%;
  top: -21px;
  display: none;
}
img.tool:hover + .on\+hob {
  display: block !important;
}
.out_stats {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.out_stats img {
  width: 50%;
}
.modal-header {
  border-bottom: navajowhite;
}
.inner_content.no_padd {
  padding: 0px;
}
.form_left input {
  border: none;
  padding-left: 0px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1c1c1c;
  line-height: 40px;
}
.form_left label {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #42484d;
}
button.btn.btn-primary.Edit {
  margin-top: 20px;
  width: 235px;
  height: 40px;
}
p.top_text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #42484d;
  margin-bottom: 3px;
}
h4.ine_close {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff6666;
}
img.tool.new_tool {
  left: 22%;
  top: 35px;
}
.on\+hob.on_newhov {
  position: absolute;
  left: 59%;
  top: 5px;
  display: none;
  right: inherit;
}
.sucess_message {
  background: #62d07a;
  border-radius: 6px;
  color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}
.sucess_message p {
  margin-bottom: 10px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.close h3.all_heading {
  padding: 20px 30px;
  margin-bottom: 0px;
}
.close_inner p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #6c757d;
  margin-bottom: 11px;
}
.close_inner {
  padding: 20px 30px;
}
.inner_close {
  width: 534px;
  padding-left: 30px;
}
.inner_close .form-group {
  margin-bottom: 20px;
}
button.close {
  width: 250px !important;
  background: #0072bc;
  border: 1px solid #0072bc;
}
button.btn.btn-primary.close.close_Cancel {
  background: transparent;
  border: 1px solid red;
  border: 1px solid #0072bc;
  border-radius: 6px;
  color: #0072bc;
}
.inner_close .form-group select {
  color: #00000085;
}
.inner_close .form-group select option {
  color: #00000085;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgb(60 65 115 / 10%);
  border-radius: 6px;
  padding: 10px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.close_inner label.form-check-label {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.close_inner .form-check-input:checked {
  background-color: #2aac27;
  border-color: #2aac27;
}
p.business_p {
  padding-right: 115px;
}
.account_form {
  width: 50%;
  padding: 0px;
  border: navajowhite;
}
.need_account_flex .has-float-label {
  width: 100%;
  float: left;
  margin-right: 10px;
}
.need_account_flex {
  display: flex;
  width: 621px;
}
.need_account_flex label.form-group {
  width: 48%;
  margin-right: 10px;
}
.form-group.f_btns.ass_button button:hover {
  opacity: 0.7;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);
}
.has-float-label {
     position: relative;
     font-size: 70%;
}
 .has-float-label label {
     position: absolute;
     opacity: 1;
     transition: all 0.2s;
     top: -0.5em;
     left: 0.75rem;
     z-index: 3;
     line-height: 1;
     padding: 0 1px;
}
 .has-float-label label::after {
     content: " ";
     display: block;
     position: absolute;
     background: #fff;
     height: 2px;
     top: 50%;
     left: -0.2em;
     right: -0.2em;
     z-index: -1;
}
 .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
     opacity: 0.5;
     color: #000;
}
 .has-float-label .form-control:placeholder-shown:not(:focus)+label {
     font-size: 150%;
     opacity: 0.1;
     top: 0.6em;
}
 .form-group.has-float-label {
     margin-bottom: 20px;
}
 form.sc\+form {
     width: 419px;
}
 form.sc\+form .form-control:focus {
     color: #212529;
     background-color: #fff;
     border-color: #86b7fe;
     outline: 0;
     box-shadow: none !important;
}
 .radiio_btn label.radio-inline {
     position: relative;
     width: 49%;
     font-size: 15px;
     margin-left: -10px;
}
 .radiio_btn input[type="radio"] {
     margin-right: 5px;
}
 button.btn.btn-Cancel {
     background: #ffffff;
     border: 1px solid #cbcbcb;
     box-sizing: border-box;
     border-radius: 8px;
     justify-content: center;
     align-items: center;
     padding: 7px 30px;
}
 button.btn.btn-Save {
     background: #0072bc;
     border: 1px solid #0072bc;
     box-sizing: border-box;
     border-radius: 8px;
     justify-content: center;
     align-items: center;
     padding: 7px 70px;
     color: #fff;
}
 h1.top_head {
     font-style: normal;
     font-weight: 600;
     font-size: 26px;
     line-height: 43px;
     color: #000000;
     padding-top: 60px;
}
 .inner_cs {
     border-radius: 8px;
     border: 1px solid #cbcbcb;
     padding: 30px;
     margin-bottom: 160px;
     float: left;
     width: 100%;
}
 .inner_cs h3 {
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 24px;
}
 .inner_cs hr {
     margin-bottom: 30px;
}
 button.btn.btn-Save:hover {
     opacity: 0.8;
}
 button.btn.btn-Cancel:hover {
     background: #0072bc;
     border: 1px solid #0072bc;
     box-sizing: border-box;
     border-radius: 8px;
     justify-content: center;
     align-items: center;
     padding: 7px 70px;
     color: #fff;
}
 .footer_logo {
     position: absolute;
     top: 10px;
     right: 6%;
}
 .inner_cs.with_tb {
     margin-bottom: 30px;
}
 table.table.Permission_table th {
     color: #9f2b05;
     font-weight: 600;
     font-size: 18px;
     line-height: 21px;
}
 .table> :not(:first-child) {
     border-top: none !important;
}
 .Permission_table>tbody>tr>td {
     padding-top: 15px;
     padding-bottom: 15px;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
}
 .rate {
     height: 21px;
     width: 21px;
     background: #9f2b05;
     border-radius: 50%;
     float: right;
}
 .rate-red {
     height: 21px;
     width: 21px;
     background: #2aac27;
     border-radius: 50%;
     float: right;
}
 .pagination {
     display: flex;
     padding-left: 0;
     list-style: none;
     justify-content: center;
}
 .form-group.has-float-label.serch_top {
     float: left;
     width: 100%;
}
 .serch_res {
     float: left;
     width: 100%;
     display: flex;
}
 .serch_res select.form-select {
     width: 23%;
}
 .serch_res button.btn.info {
     border: 1px solid #ccc;
     margin-left: 10px;
}
 .top_sec {
     float: left;
     width: 100%;
     display: flex;
     padding-top: 60px;
}
 .top_right {
     float: right;
     width: 50%;
     justify-items: right;
     text-align: right;
     padding-top: 15px;
     color: #2aac27;
}
 .top_right img {
     padding-right: 10px;
}
 .top_left {
     width: 50%;
     float: left;
}
 .top_left h1.top_head {
     padding-top: 0px;
}
 .super_top {
     float: left;
     width: 100%;
     display: flex;
     padding-top: 30px;
     text-align: center;
     justify-content: center;
     font-style: normal;
     font-weight: 600;
     font-size: 26px;
     line-height: 43px;
     color: #000000;
}
 .add_note {
     border-radius: 8px;
     border: 1px solid #cbcbcb;
     padding: 30px;
     margin-bottom: 0px;
     float: left;
     width: 100%;
     margin-top: 30px;
}
 .add_note button.btn {
     padding: 7px 40px;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
}
 button.btn.btn-secondary.btn-lg.Cancel {
     background: transparent;
     color: #000;
}
 .border-dot {
     border: 1px dashed #cbcbcb;
     margin: 20px 0px;
}
 .top_message h6 {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #0072bc;
}
 .top_message p {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #616161;
}
 button.btn.btn-secondary.btn-lg.Delete {
     padding: 7px 40px;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
     background: transparent;
     color: #616161;
     border: 1px solid #616161;
     margin-left: 10px;
}
 button.btn.btn-primary.btn-lg.Edit1 {
     padding: 7px 40px;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
}
 p.des_txt {
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 14px;
     text-align: right;
     color: #616161;
}
 button.btn {
     margin-right: 10px;
}
 .center_div {
     width: 90%;
     margin: 0 auto;
}
 footer#footer {
     position: relative !important;
}
 .alert_box {
     width: 100%;
     float: left;
     text-align: center;
}
 .inner_alert {
     background: #62d07a;
     border-radius: 8px;
     width: 526px;
     margin: 0 auto;
     padding: 14px 20px;
     color: #fff;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     text-align: left;
     margin-top: 45px;
}
 .inner_alert img {
     margin-right: 20px;
}
 .table_sec p {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 145%;
     color: #616161;
}
 .table_sec table.table.table-borderless {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #000000;
}
 ul.log_time {
     margin-left: 0px;
     padding-left: 0px;
     margin-top: 30px;
}
 ul.log_time li {
     display: flex;
     margin-bottom: 5px;
}
 ul.log_time li .left_side {
     min-width: 150px;
}
 .main_log {
     display: flex;
}
 .right_log {
     width: 50%;
     float: left;
     margin-top: 30px;
}
 .left_log {
     width: 50%;
     float: left;
}
 .left_log {
     margin-top: 30px;
}
 .left_log ul.log_time {
     margin-top: 10px;
}
 .right_log ul.log_time {
     margin-top: 10px;
}
 .head_log {
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 24px;
     color: #000000;
}
 main.admin_categories h1.top_head {
     text-align: center;
}
 .panel-default>.panel-heading a img {
     margin-right: 12px;
}
 .panel-default>.panel-heading {
     color: #333;
     background-color: #fff;
     border-color: #e4e5e7;
     padding: 0;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border: 1px solid #d1deff;
}
 .panel-default>.panel-heading a {
     display: block;
     padding: 12px 14px;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #000000;
}
 .panel-default>.panel-heading a:after {
     content: "";
     position: relative;
     top: 1px;
     display: inline-block;
     font-family: "Glyphicons Halflings";
     font-style: normal;
     font-weight: 400;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     float: right;
     transition: transform 0.25s linear;
     -webkit-transition: -webkit-transform 0.25s linear;
}
 .panel-default>.panel-heading a[aria-expanded="true"] {
     background-color: #eee;
}
/* .panel-default>.panel-heading a[aria-expanded="true"]:after {
     content: "\2212";
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
}
 .panel-default>.panel-heading a[aria-expanded="false"]:after {
     content: "\002b";
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
}
 */
 .panel-default>.panel-heading a:hover {
     text-decoration: none !important;
}
 img.menu-i {
     float: right;
}
 .panel-default>.panel-heading {
     color: #333;
     background-color: #fff;
     border-color: #d1deff;
}
 .panel-default {
     border-color: #fff;
}
 .panel-default>.panel-heading {
     color: #333;
     background-color: #fff !important;
     border-color: #d1deff !important;
}
 .panel-group .panel+.panel {
     margin-top: 20px !important;
}
 .out_secform {
     float: left;
     width: 100%;
}
 .out_secform .col-md-12.offset-md-12 {
     padding-left: 0px;
}
 .out_secform form.sc\+form {
     width: 61%;
}
 .has-float-label .form-control:placeholder-shown:not(:focus)+label {
     font-size: 150%;
     opacity: -0.9;
     top: 0.6em;
}
 .out_secform .form-control {
     display: block;
     width: 100%;
     height: 45px;
}
 button.btn.btn-Add {
     padding: 11px 24px;
     font-size: 14px;
     line-height: 1.42857143;
     color: #2aac27;
     background-color: #fff;
     background-image: none;
     border: 1px solid #2aac27;
     border-radius: 4px;
}
 .panel-body.inner .panel a {
     font-style: normal !important;
     font-weight: 400 !important;
     font-size: 16px !important;
     line-height: 21px !important;
     color: #616161 !important;
     line-height: 22px !important;
}
 div#accordion21 {
     width: 50%;
     margin-left: 10%;
}
 .panel-body.inner img.menu-i {
     float: right;
     width: 9%;
}
 ul.same_up select.form-select {
     line-height: 31px;
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 21px;
     width: 50%;
     color: #616161;
     margin-right: 24px;
}
 ul.same_up {
     list-style: none;
}
 ul.same_up li {
     display: flex;
     margin-bottom: 10px;
}
 ul.same_up h6 {
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 21px;
     color: #000000ad;
     margin-right: 10px;
     min-width: 20%;
}
 .panel-body .form-check {
     margin-right: 10px;
}
 .panel-body .form-check-input {
     width: 2em;
     height: 2em;
}
 h4.panel-title {
     position: relative;
}
 .popup_div {
     position: absolute;
     top: 0;
     right: 0;
     background: #ccc;
     display: none;
}
 .popup_div ul {
     position: absolute;
     top: 51px !important;
     right: -2px !important;
     background: #edf0ff !important;
     min-width: 170px !important;
     padding: 10px !important;
     list-style: none !important;
     z-index: 99;
}
 .popup_div li a {
     display: block;
     padding: 2px 12px !important;
     font-style: normal;
     font-weight: 500;
     font-size: 15px !important;
     line-height: 18px !important;
     color: #000000;
}
 .popup_div ul>li>a {
     font-style: normal;
     font-weight: 400 !important;
     font-size: 14px !important;
     line-height: 16px !important;
     color: #616161 !important;
     background: #;
     padding: 4px 14px !important;
}
 img.menu-i {
}
 .new_icon {
     float: right;
     position: absolute;
     top: 13px !important;
     right: 29px !important;
     z-index: 9999;
     cursor: pointer;
}
 .a_z_polcies p {
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 26px;
     text-transform: uppercase;
     color: #0072bc;
     word-spacing: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
}
 .polcy_content h5 {
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 26px;
     text-transform: uppercase;
     color: #0c0c0c;
}
 .polcy_content {
}
 ul.main_ul {
     padding-left: 0;
     list-style: none;
}
 ul.main_ul li {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 145%;
    /* or 26px */
    /* blue/button/default */
     color: #0072bc;
}
 h6.new_add img {
     margin-right: 10px;
}
 .add_new {
     float: left;
     width: 100%;
     margin-bottom: 50px;
}
 .form-group.need_margin {
     margin-left: 50px;
}
 textarea#comment {
     border: none;
     height: auto;
     min-height: 200px;
}
 textarea#comment:focus {
     box-shadow: none;
}
 .title_image {
     position: relative;
     width: 100%;
     margin-bottom: 30px;
}
 p.swithch {
     position: absolute;
     right: 0;
     top: 6px;
     font-style: normal;
     font-weight: 400;
     font-size: 11px;
     line-height: 20px;
     color: #616161;
}
 button.btn.btn-Cancel:hover {
     background: #0072bc;
     border: 1px solid #0072bc;
     box-sizing: border-box;
     border-radius: 8px;
     justify-content: center;
     align-items: center;
     padding: 7px 30px;
     color: #fff;
}
 .modal-footer.three_button {
     text-align: left !important;
     align-items: flex-start !important;
     display: block;
}
 button.btn.btn-Cancel.draft\+late:hover {
     background: transparent;
     opacity: 0.6;
}
 p.red_alert {
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 14px;
     color: #eb5454;
     margin: 10px 0px 4px;
}
 .div.class p {
     font-style: normal;
     font-weight: 400;
     font-size: 17px;
     line-height: 145%;
     color: #616161;
}
 p.head {
     font-style: normal;
     font-weight: 400;
     font-size: 19px;
     line-height: 145%;
     color: #616161;
}
 img.allow {
     margin-right: 10px;
}
 ul.new_ul {
     margin-left: 20px;
}
 ul.new_ul li {
     font-style: normal;
     font-weight: 400;
     font-size: 17px;
     line-height: 150%;
     color: #616161;
}
 h2.main_head {
     font-family: "SF Pro Display";
     font-style: normal;
     font-weight: 600;
     font-size: 36px;
     line-height: 43px;
     color: #000000;
     margin-bottom: 50px;
}
 h2.main_head2 {
     font-family: "SF Pro Display";
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 26px;
     color: #0c0c0c;
     margin-bottom: 50px;
}
 button.new_edit {
     font-family: "SF Pro Display";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     text-align: center;
     background: #1977cc;
     color: #fff;
     border: 1px solid #1977cc;
     padding: 6px 30px;
     border-radius: 4px;
     margin-bottom: 30px;
}
 .tab .add_new {
     float: left;
     width: 100%;
     margin-bottom: 50px;
     background: #2aac27;
     border-radius: 8px;
     text-align: center;
     padding: 10px;
     color: #fff;
     margin-top: 10px;
}
 .out_div {
     width: 100%;
     display: flex;
}
 .out_div ul {
     width: 33%;
     list-style: none;
     padding-left: 0;
}
 .out_div ul li {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 152%;
     color: #0072bc;
}
 .inner_text {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 145%;
     color: #616161;
}
 .top_haedb h2 {
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 145%;
     color: #0072BC;
     font-family: 'SF Pro Display';
}
 .top_haedb h2 {
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 145%;
     color: #000;
     font-family: 'SF Pro Display';
}
 .column.shadow.main_active h2 {
     color: #0072BC;
}
 .haedb_center {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 145%;
     color: #616161;
}
 .main_active .haedb_center {
     color: #000;
}
 .haedb_bottom {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 145%;
}
 .column {
     padding: 20px;
}
 .column:hover {
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
 .haedb_bottom img {
     margin-right: 5px;
}
 .top_blog {
     width: 100%;
     display: inline-flex;
}
 .top_blog h1.top_head {
     padding-top: 30px;
     width: 50%;
}
 .blog_addnew {
     width: 50%;
     float: right;
     text-align: right;
     padding-top: 60px;
}
 form.example input[type=text] {
     padding: 10px;
     font-size: 17px;
     border: 1px solid #61616140;
     float: left;
     width: 90%;
     background: transparent;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #616161;
     padding: 10px 11px 11px 30px;
     height: 46px;
     border-radius: 5px 
}
 form.example button {
     float: left;
     width: 10%;
     padding: 10px;
     background: #0072BC;
     color: white;
     font-size: 17px;
     border: 1px solid grey;
     border-left: none;
     cursor: pointer;
}

 form.example button:hover {
     background: #0b7dda;
}
 form.example::after {
     content: "";
     clear: both;
     display: table;
}
 .column.inner_column {
     background: #0072bc;
     border-radius: 25px;
     height: 225px;
     position: relative;
}
 .oj img {
     float: right;
}
 .oj {
     background: #EDF0FF;
     padding: 13px 20px;
     position: absolute;
     width: 100%;
     bottom: 0;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 145%;
     color: #616161;
}
 .row.job_offer .column.inner_column {
     padding: 0px;
}
 .ad {
     height: 173px;
     width: 100%;
}
 .ad p {
     text-align: center;
     position: absolute;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 145%;
     color: #FFFFFF;
     left: 0;
     right: 0;
     top: 42%;
     margin: 0 auto;
}
 .ad {
     position: relative;
     height: 173px;
}
 .ad p {
     text-align: center;
     position: absolute;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 145%;
     color: #FFFFFF;
     left: 0;
     right: 0;
     top: 42%;
     margin: 0 auto;
}
 img.more_vertical {
     position: absolute;
     top: 15px;
     right: 15px;
}
 .row.Careers-form label {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #616161;
}
 .row.Careers-form select {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #616161bf;
}
 .left_side {
     border-right: 1px solid #ccc;
     padding-right: 50px !important;
}
 .row.Careers-form {
     margin: 50px 0px;
}
 .row.Careers-form textarea#comment {
     border: none;
     height: auto;
     min-height: 200px;
     background: #FFFFFF;
     border: 1px solid #CBCBCB;
     box-sizing: border-box;
     border-radius: 8px;
     width: 100% !important;
}
 hr.new_hr {
     border: 1px dashed #CBCBCB;
}
 h2.bg_color {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 26px;
     color: #FFFFFF;
     background: #0072bc;
     background: #0B80CC;
     border-radius: 8px;
     height: 52px;
     padding: 12px 20px;
}
 .r_side {
     width: 50%;
     float: right;
     text-align: end;
}
 .L_side {
     width: 50%;
     float: left;
}
 .filter_sec .panel-default>.panel-heading a {
     display: block;
     padding: 12px 14px;
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 24px;
     color: #fff;
     background: #0072BC;
     border-radius: 5px;
}
 .filter_sec .panel-body .form-check-input {
     width: 1.5em;
     height: 1.5em;
     margin-right: 10px;
}
 .filter_sec label {
     display: inline-block;
     max-width: 100%;
     margin-bottom: 5px;
     font-weight: 700;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 145%;
     color: #616161;
}
 .out_pag {
     width: 100%;
     text-align: center;
}
 .nextprev a.w3-left.w3-btn {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 21px;
     color: #FFFFFF;
     background: #2aac27;
     padding: 10px 15px;
     border-radius: 5px;
     text-decoration: none;
}
 .borderless td, .borderless th {
     border: none;
}
 .table.table.borderless>thead>tr>th {
     vertical-align: bottom;
     border-bottom: 2px solid #fff;
     color: #616161c7;
     font-size: 16px;
     font-weight: 400;
     padding: 0px;
}
 table.table.borderless {
     width: 60%;
     padding: 0px;
}
 .modal-title {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 26px;
     color: #000000;
}
 select#resel1 {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #616161d1;
     padding-bottom: 10px;
}
 .message_felt {
     background: #FFFFFF;
     border-radius: 8px;
     padding: 20px;
     border: 1px solid #CBCBCB;
     border-radius: 8px;
}
 .message_felt ul {
     list-style: none;
}
 .same_ul ul li {
     width: 100%;
     border-bottom: 1px solid #CBCBCB;
     padding: 15px 0px;
     display: inline-block;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 21px;
     color: #616161;
}
 .same_ul li span {
     color: #000;
}
 .message_felt ul li p {
     text-align: right;
     float: right;
}
 .message_felt ul {
     padding-left: 0px;
}
 .message_right form .checkbox-inline, .radio-inline {
     font-size: 17px;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     color: #616161;
     padding-left: 40px;
}
 .mail-box {
     border-collapse: collapse;
     border-spacing: 0;
     display: table;
     table-layout: fixed;
     width: 100%;
}
 .mail-box aside {
     display: table-cell;
     float: none;
     height: 100%;
     padding: 0;
     vertical-align: top;
}
 .mail-box .sm-side {
     background: none repeat scroll 0 0 #e5e8ef;
     border-radius: 4px 0 0 4px;
     width: 25%;
}
 .mail-box .lg-side {
     background: none repeat scroll 0 0 #fff;
     border-radius: 0 4px 4px 0;
     width: 75%;
}
 .mail-box .sm-side .user-head {
     background: none repeat scroll 0 0 #00a8b3;
     border-radius: 4px 0 0;
     color: #fff;
     min-height: 80px;
     padding: 10px;
}
 .user-head .inbox-avatar {
     float: left;
     width: 65px;
}
 .user-head .inbox-avatar img {
     border-radius: 4px;
}
 .user-head .user-name {
     display: inline-block;
     margin: 0 0 0 10px;
}
 .user-head .user-name h5 {
     font-size: 14px;
     font-weight: 300;
     margin-bottom: 0;
     margin-top: 15px;
}
 .user-head .user-name h5 a {
     color: #fff;
}
 .user-head .user-name span a {
     color: #87e2e7;
     font-size: 12px;
}
 a.mail-dropdown {
     background: none repeat scroll 0 0 #80d3d9;
     border-radius: 2px;
     color: #01a7b3;
     font-size: 10px;
     margin-top: 20px;
     padding: 3px 5px;
}
 .inbox-body {
     padding: 0px;
}
 .btn-compose {
     background: none repeat scroll 0 0 #ff6c60;
     color: #fff;
     padding: 12px 0;
     text-align: center;
     width: 100%;
}
 .btn-compose:hover {
     background: none repeat scroll 0 0 #f5675c;
     color: #fff;
}
 ul.inbox-nav {
     display: inline-block;
     margin: 0;
     padding: 0;
     width: 100%;
}
 .inbox-divider {
     border-bottom: 1px solid #d5d8df;
}
 ul.inbox-nav li {
     display: inline-block;
     line-height: 45px;
     width: 100%;
}
 ul.inbox-nav li a {
     color: #6a6a6a;
     display: inline-block;
     line-height: 45px;
     padding: 0 20px;
     width: 100%;
}
 ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
     background: none repeat scroll 0 0 #d5d7de;
     color: #6a6a6a;
}
 ul.inbox-nav li a i {
     color: #6a6a6a;
     font-size: 16px;
     padding-right: 10px;
}
 ul.inbox-nav li a span.label {
     margin-top: 13px;
}
 ul.labels-info li h4 {
     color: #5c5c5e;
     font-size: 13px;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 5px;
     text-transform: uppercase;
}
 ul.labels-info li {
     margin: 0;
}
 ul.labels-info li a {
     border-radius: 0;
     color: #6a6a6a;
}
 ul.labels-info li a:hover, ul.labels-info li a:focus {
     background: none repeat scroll 0 0 #d5d7de;
     color: #6a6a6a;
}
 ul.labels-info li a i {
     padding-right: 10px;
}
 .nav.nav-pills.nav-stacked.labels-info p {
     color: #9d9f9e;
     font-size: 11px;
     margin-bottom: 0;
     padding: 0 22px;
}
 .inbox-head {
     border-radius: 0 0px 0 0;
     color: #fff;
     min-height: 40px;
}
 .inbox-head h3 {
     display: inline-block;
     font-weight: 300;
     margin: 0;
     padding-top: 6px;
}
 .inbox-head .sr-input {
     border: medium none;
     border-radius: 4px 0 0 4px;
     box-shadow: none;
     color: #8a8a8a;
     float: left;
     height: 40px;
     padding: 0 10px;
}
 .inbox-head .sr-btn {
     background: none repeat scroll 0 0 #0072BC;
     border: medium none;
     border-radius: 0 4px 4px 0;
     color: #fff;
     height: 40px;
     padding: 0 15px;
}
 .table-inbox {
     border: 1px solid #d3d3d3;
     margin-bottom: 0;
}
 .table-inbox tr td {
     padding: 12px !important;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400 !important;
     font-size: 16px;
     line-height: 30px;
     color: #616161b3;
     border: none;
}
.table-inbox tr {
    border-bottom: 1px solid #CBCBCB;
}
 .table-inbox tr td:hover {
     cursor: pointer;
}
 .table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
     color: #f78a09;
}
 .table-inbox tr td .fa-star {
     color: #d5d5d5;
}
 .table-inbox tr.unread td {
     background: none repeat scroll 0 0 #f7f7f7;
     font-weight: 600;
}
 ul.inbox-pagination {
     float: right;
}
 ul.inbox-pagination li {
     float: left;
}
 .mail-option {
     display: inline-block;
     margin-bottom: 10px;
     width: 100%;
     position: relative;
}
 .mail-option .chk-all, .mail-option .btn-group {
     margin-right: 5px;
}
 .mail-option .chk-all, .mail-option .btn-group a.btn {
   background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 23px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #1c1c1cb0;
    border: 1px solid #CBCBCB;
    border-radius: 6px !important;
}
 .inbox-pagination a.np-btn {
     background: none repeat scroll 0 0 #fcfcfc;
     border: 1px solid #e7e7e7;
     border-radius: 3px !important;
     color: #afafaf;
     display: inline-block;
     padding: 5px 15px;
}
 .mail-option .chk-all input[type="checkbox"] {
     margin-top: 0;
}
 .mail-option .btn-group a.all {
     border: medium none;
     padding: 0;
}
 .inbox-pagination a.np-btn {
     margin-left: 5px;
}
 .inbox-pagination li span {
     display: inline-block;
     margin-right: 5px;
     margin-top: 7px;
}
 .fileinput-button {
     background: none repeat scroll 0 0 #eeeeee;
     border: 1px solid #e6e6e6;
}
 .inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
     border: 1px solid #e6e6e6;
     box-shadow: none;
}
 .btn-send, .btn-send:hover {
     background: none repeat scroll 0 0 #00a8b3;
     color: #fff;
}
 .btn-send:hover {
     background: none repeat scroll 0 0 #009da7;
}
 .modal-header h4.modal-title {
     font-family: "Open Sans",sans-serif;
     font-weight: 300;
}
 .modal-body label {
     font-family: "Open Sans",sans-serif;
     font-weight: 400;
}
 .heading-inbox h4 {
     border-bottom: 1px solid #ddd;
     color: #444;
     font-size: 18px;
     margin-top: 20px;
     padding-bottom: 10px;
}
 .sender-info {
     margin-bottom: 20px;
}
 .sender-info img {
     height: 30px;
     width: 30px;
}
 .sender-dropdown {
     background: none repeat scroll 0 0 #eaeaea;
     color: #777;
     font-size: 10px;
     padding: 0 3px;
}
 .view-mail a {
     color: #ff6c60;
}
 .attachment-mail {
     margin-top: 30px;
}
 .attachment-mail ul {
     display: inline-block;
     margin-bottom: 30px;
     width: 100%;
}
 .attachment-mail ul li {
     float: left;
     margin-bottom: 10px;
     margin-right: 10px;
     width: 150px;
}
 .attachment-mail ul li img {
     width: 100%;
}
 .attachment-mail ul li span {
     float: right;
}
 .attachment-mail .file-name {
     float: left;
}
 .attachment-mail .links {
     display: inline-block;
     width: 100%;
}
 .fileinput-button {
     float: left;
     margin-right: 4px;
     overflow: hidden;
     position: relative;
}
 .fileinput-button input {
     cursor: pointer;
     direction: ltr;
     font-size: 23px;
     margin: 0;
     opacity: 0;
     position: absolute;
     right: 0;
     top: 0;
     transform: translate(-300px, 0px) scale(4);
}
 .fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
     margin-bottom: 5px;
}
 .files .progress {
     width: 200px;
}
 .fileupload-processing .fileupload-loading {
     display: block;
}
 * html .fileinput-button {
     line-height: 24px;
     margin: 1px -3px 0 0;
}
 * + html .fileinput-button {
     margin: 1px 0 0;
     padding: 2px 15px;
}
 @media (max-width: 767px) {
     .files .btn span {
         display: none;
    }
     .files .preview * {
         width: 40px;
    }
     .files .name * {
         display: inline-block;
         width: 80px;
         word-wrap: break-word;
    }
     .files .progress {
         width: 20px;
    }
     .files .delete {
         width: 60px;
    }
}
 ul {
     list-style-type: none;
     padding: 0px;
     margin: 0px;
}
 .table>:not(caption)>*>* {
     padding: 0.5rem 0.5rem;
     background-color: var(--bs-table-bg);
     border-bottom-width: 1px;
     box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
 .inner_ul li {
     width: 100%;
     border-bottom: 1px solid #CBCBCB;
     padding: 15px 0px;
     display: inline-block;
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 21px;
     color: #616161;
}
 tr.unread.black td {
     color: #000;
}
 .out_peginations {
     width: 100%;
     text-align: center;
    padding: 30px;	 
}
 a.np-btn {
     background: #0072BC !important;
     color: #fff !important;
     border-radius: 15px !important;
}
 .img_top img {
     width: 100%;
}
 a.w3-left.w3-btn.same_btn {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
     color: #0072BC;
     background: transparent;
     border: 1px solid #CBCBCB;
     padding: 5px 23px;
}
 .mass_left {
     width: 50%;
     float: left;
}
 .mass_left .w3-clear.nextprev {
     float: left;
     width: 100%;
     padding: 10px 0px;
}
 .mess_con {
     display: flex;
     width: 100%;
}
 p.customer_username {
     font-family: 'SF Pro Display';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #0072BC;
     width: 50%;
     float: left;
}
 p.date {
     width: 50%;
     float: right;
     text-align: end;
     font-size: 12px;
}
 .message_felt ul img {
     margin-right: 10px;
}
 .out_peginations ul.pagination {
     margin: 0px;
}
 .same_ul ul li:nth-last-child(1) {
     border: none;
}
 .Agent.ID {
     position: absolute;
     background: #ccc;
     padding: 20px;
     right: 0;
     top: -20px;
     background: #FFFFFF;
     box-shadow: 0px 0px 20px rgb(117 117 117 / 25%);
     border-radius: 8px;
}
 form.need_input input#fname {
     background: #FFFFFF;
     border: 1px solid #CBCBCB;
     border-radius: 6px;
     height: 36px;
}
ul.inbox-pagination li a.np-btn {
    background: none !important;
}
.inbox_contant {
    float: left;
    width: 100%;
}
.inbox_contant .in_left {
    float: left;
}
.inbox_contant p {
    margin-bottom: 5px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #6C757D;
}

.message_felt label.custom-control-label {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #42484D;
    margin-bottom: 10px;
}
.message_felt input#defaultUnchecked, .message_felt input#defaultChecked {
    margin-right: 10px;
    height: 18px;
    width: 17px;
}
.top-message {
    border: 1px solid #F7A428;
    border-radius: 6px;
    padding: 15px 30px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1C1C1C;
	    margin-bottom: 30px;
}














































@media only screen and (max-width: 1440px) {
  .social-links.align-items-center a {
    padding: 0px 5px;
  }
  .container_no {
    width: 100%;
    float: left;
    padding: 0px 77px;
  }
  .user_info {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    padding: 13px;
    width: 100%;
    display: flex;
    height: 142px;
  }
}

@media only screen and (max-width: 1366px) {
  .ne_css .col-md-3.col-sm-6.col-xs-12 {
    width: 50%;
  }
  .container_no {
    width: 100%;
    float: left;
    padding: 0px 77px;
  }
  .ne_css .row {
    margin-top: 0px !important;
  }
  .user_info {
    margin-bottom: 30px;
  }
  .cs_section.ne_css {
    margin-top: 50px !important;
  }
  .social-links.align-items-center a {
    padding: 0px 0px;
  }
  .container_no {
    padding: 0px 30px;
  }
  button.btn.Edit {
    width: 150px;
  }
}

@media only screen and (max-width: 1024px) {
  nav#navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 4px solid #fff;
    padding: 6px 10px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #1c1c1c;
  }
  .sercah_box {
    width: 55%;
    margin: 0 auto;
  }
  .social_sec {
    width: 25%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
  }
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
  }
  form.example input[type="text"] {
    width: 70%;
  }
  button.btn.btn-primary.Edit {
    margin-top: 20px;
    width: 210px;
    height: 40px;
  }
  img.tool.new_tool {
    left: 42%;
    top: 35px;
  }
  .on\+hob.on_newhov {
    position: absolute;
    right: -5%;
    top: 5px;
    display: none;
    left: inherit;
  }
}
.mob_icons {
  display: none;
}

@media only screen and (max-width: 991px) {
  nav#navbar {
    width: 100%;
    text-align: left;
    justify-content: left;
  }
  .mob_icons {
    display: block;
  }
  .order-last {
    order: 0 !important;
  }
  .mob_icons {
    display: block;
    width: 60% !important;
    display: flex;
  }
  nav#navbar {
    width: 20%;
    text-align: left;
    justify-content: left;
  }
  .navbar-mobile {
    width: 100% !important;
  }
  div#top_ser {
    display: none;
  }
  .mob_sercah {
    display: block;
  }
  .mob_sercah {
    float: left;
    width: 100%;
    padding: 26px 16px;
  }
  .mob_sercah {
    float: left;
    width: 100%;
    padding: 26px 16px;
  }
  .mob_sercah input[type="text"] {
    width: 90% !important;
  }
  .mob_sercah form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #0072bc !important;
    border: 1px solid #cbcbcb !important;
    border-radius: 0px 6px 6px 0px !important;
  }
  .mob_sercah form.example button i.fa.fa-search {
    color: #fff;
  }
  .mob_icons_new {
    padding-top: 10px;
  }
  .container_no .col-md-5 {
    width: 100%;
  }
  .info_div {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .container_no {
    width: 100%;
    float: left;
    padding: 0px 50px;
  }
  .user_info {
    padding: 25px;
  }
  .user_info .right_side > p {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 148%;
    color: #6c757d;
  }
}
@media only screen and (max-width: 767px) {
  .container_no {
    padding: 0px 20px;
  }
  .ne_css .col-md-3.col-sm-6.col-xs-12 {
    width: 100%;
  }
  nav#navbar {
    width: 14%;
    text-align: left;
    justify-content: left;
  }
  .logo_sec {
    width: 30%;
  }
  .mob_icons {
    width: 60% !important;
  }
  .need_mobile .user_info .right_side {
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1c1c1c;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
  }
  .need_mobile .user_info .left_side {
    width: 100%;
    float: left;
  }
  .need_mobile .user_info {
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    display: grid;
    height: 180px;
    text-align: center;
  }
  .need_mobile .col-md-3 {
    width: 33.3%;
    float: left;
  }
  .desktop_view {
    display: none;
  }
  .need_mobile {
    display: block;
  }
  .need_mobile .user_info img {
    width: 80%;
  }

  .fst_head {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #000000;
  }
  .need-right {
    text-align: left;
  }
  .col-md-9.form_left {
    width: 70%;
    float: left;
  }
  .inner_content.no_padd .inner_content-two {
    padding: 0px !important;
  }
  .inner_content.no_padd {
    padding: 0px;
    background: #ffffff;
    border-bottom: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    border-radius: 0px;
    padding: 30px 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .col-md-3.form_right {
    width: 25%;
  }
  button.btn.btn-primary.Edit {
    margin-top: 20px;
    width: 100px;
    height: 40px;
  }
  .col-md-9.form_left.full.width {
    width: 100% !important;
    float: left !important;
  }
  .full_width {
    width: 100% !important;
    float: left !important;
    text-align: left !important;
  }
  .col-md-3.form_right.full.width {
    width: 100%;
  }
  .col-md-9.form_left.renove_mob {
    display: none;
  }
  .close h3.all_heading {
    margin-bottom: 0px;
    padding: 0px;
  }
  .close_inner {
    padding: 0;
  }
  .inner_close {
    width: 100%;
    padding-left: 0px;
  }
  button.close {
    margin-bottom: 25px;
  }
.inbox-body {
    padding: 0px;
    overflow-x: scroll;
}  
}

@media only screen and (max-width: 480px) {
  .footer_menu ul li a {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #1c1c1c;
    padding: 5px;
  }
  .copyright {
    padding-top: 0px;
    padding-bottom: 30px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 0px;
    display: inline;
    align-items: center;
    text-align: center;
    color: #6c757d;
    justify-content: center;
  }
  .user_info {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    display: flex;
    height: 142px;
  }
  .user_info .right_side > p {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 116%;
    color: #6c757d;
    text-align: left;
  }
  .user_info .right_side > h3 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #1c1c1c;
  }
  .add_nee ul li {
    width: 100%;
  }
  .out_new_form form.card.card-block.bg-faded {
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    width: 100%;
    padding: 30px;
  }
  img.tool.new_tool {
    left: 0%;
    top: 60px;
  }
  .on\+hob.on_newhov {
    position: absolute;
    right: -60%;
    top: 0px;
    display: none;
    left: inherit;
  }
  button.close {
    margin-bottom: 15px;
  }
  .account_form {
    width: 100%;
    padding: 0px;
    border: navajowhite;
  }
  .need_account_flex {
    display: block;
    width: 100%;
  }
  .need_account_flex select.form-control.custom-select {
    width: 100%;
  }
  .need_account_flex .has-float-label {
    width: 100%;
    float: left;
    margin-right: 10px;
  }
  p.business_p {
    padding-right: 0px;
  }
  .ass_button button.btn.Edit {
    width: 250px;
  }
  .need_account_flex label.form-group {
    width: 100% !important;
    margin-right: 10px;
  }
 .table-inbox tr td {
    padding: 12px !important;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 13px;
    line-height: 15px;
    color: #616161b3;
    border: none;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {;
    padding: 5px 10px;
    font-size: 13px;
} 
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}