.header {
  padding-top: 15px;
  padding-bottom: 14px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.button-close i {
  color: var(--gray);
}

.button-close i {
  margin-left: 10px;
  font-size: 25px;
  color: var(--gray);
  color: #6b757c;
}

.header-container {
  border-bottom: 1px solid var(--light-gray);
}

@media screen and (max-width: 1366px) {
  .header {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    flex: 0.99;
  }

  .header.container-ns {
    margin-left: 5px;
  }

  .header-container {
    border-bottom: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 70px;
  }
}
