.adn-screen .logo {text-align: center;}
.adn-screen .formFooterLinks p.agreementText {text-align: right;}
.adn-screen footer .container {position: relative;min-width: 100%;}
.adn-screen footer .container .d-flex.align-items-center.justify-content-center:last-child {position: absolute;right: 0;top: 0;}
.adn-screen footer {padding-bottom: 56px;}
.adn-screen p.failedMsg {color: red;margin-bottom: 12px !important;}
.adn-screen #rc-anchor-container {width: 100%;min-width: 100%;background-color: #cbcbcb !important;border: 1px solid red !important;}
.adn-screen iframe body {width: 100%;min-width: 100%;}
.adn-screen iframe html {min-width: 100%;}
.adn-screen .rc-anchor-normal {min-width: 100%;border-radius: 5px;background-color: #c9c9c9;border: 1px solid #cbcbcb;}
.adn-screen .recaptchaBox {
    margin-bottom: 10px;
}
.authContainer .authFormSection .authFormBox .textField label {
    background: #fff;
    padding-right: 6px;
}
@media (max-width: 991px) {
    .adn-screen footer .container .d-flex.align-items-center.justify-content-center:last-child {position: unset;}
    .adn-screen footer {padding: 20px;}
    .adn-screen header .container .row {justify-content: center !important;}
.adn-screen header .container .row .col-lg-12.col-md-4.col-4 {width: 100%;}
}
