.claim-buttons {
  width: 250px;
  padding-top: 10px;
  // position: absolute;
  right: 0;

  button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    outline: 0;
    box-shadow: transparent;
    margin-bottom: 10px;

    &.message-button {
      background: #0072bc;
      color: white;
    }

    &.claim-button {
      background: white;
      color: #0072bc;
    }
  }
}
