.ui-pwd-component {
    position: relative;
}

.ui-pwd-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem
}

.ui-pwd-icon {
    button {
        padding: 0;
        border: 0;
        background: none;
        color: #616161;
    }
}