/* ----------------------------------------------------------------
	authContainer for SignIn, Sign Up
-----------------------------------------------------------------*/
.authContainer {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.authContainer header {
  padding: 18px;
}

.authContainer header .logo {
  width: 213px;
  margin: auto;
  display: block;
}

.authContainer header p,
.authContainer footer p,
.authContainer .agreementText {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  color: #1c1c1c;
  margin: 0px;
}

.authContainer footer p {
  color: #6c757d;
}

.authContainer header p .redirectLink,
.authContainer footer p .redirectLink,
.authContainer .agreementText .redirectLink {
  color: #0072bc;
  font-weight: bold;
}

.authContainer .redirectLink {
  color: #0072bc;
}

.authContainer footer p,
.authContainer .agreementText {
  font-size: 16px;
}

.authContainer footer p .redirectLink,
.authContainer .agreementText .redirectLink {
  font-weight: 400;
}

.authContainer .agreementText {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #616161;
  margin-top: 15px;
}

.authContainer footer {
  border-top: 1px solid #cbcbcb;
  padding: 20px;
  margin-top: auto;
}

.authFormSection {
  padding: 40px 0px;
}

.authContainer .authFormSection .authFormBox {
  width: 540px;
  max-width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  margin: auto;
  padding: 40px;
  position: relative;
}

.authContainer .authFormSection .authFormBox .formTitle {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #1c1c1c;
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
}

.authContainer .authFormSection .authFormBox .textField {
  margin-bottom: 20px;
}

.authContainer .authFormSection .authFormBox .textField label {
  color: #cbcbcb;
}

.authContainer .authFormSection .authFormBox .textField fieldset {
  border: 1px solid #cbcbcb;
}

.authContainer .authFormSection .authFormBox .textField label.Mui-focused {
  color: #0072bc;
}

.authContainer .authFormSection .authFormBox .textField .Mui-focused fieldset {
  border-color: #0072bc;
}

.authContainer .authFormSection .authFormBox .textField .eyeIcon {
  color: #1c1c1c;
  font-size: 22px;
}

.authContainer
  .authFormSection
  .authFormBox
  .textField
  .error
  label.Mui-focused {
  color: #ff6666 !important;
}

.authContainer .authFormSection .authFormBox .textField .error fieldset {
  border-color: #ff6666 !important;
}

.authContainer .authFormSection .authFormBox .countryCode input {
  width: 65px;
  max-width: 100%;
}

.authContainer .authFormSection .authFormBox .countryCode input {
  -webkit-text-fill-color: #000000;
  color: #000000;
  border-right: 1px solid #c4c4c4;
  padding: 0px;
}

.authContainer .socialLogin {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.authContainer .socialLogin button {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.authContainer .socialLogin button img {
  flex: 1;
  max-width: 20px;
}

.authContainer .socialLogin button span {
  flex: 1;
  justify-self: center;
}

.authContainer .socialLogin button .appleLogin {
  position: absolute;
  inset: 0;
  opacity: 0;
  overflow: hidden;
}

.authContainer .socialLogin button .appleLogin img {
  max-width: 100%;
}

.countryPhoneCode label,
.countryPhoneCode #phoneNumber {
  padding-left: 125px;
}

.countryPhoneCode label.MuiFormLabel-filled,
.countryPhoneCode label.Mui-focused {
  padding: 0px;
}

.countryPhoneCode legend {
  width: 125px;
}

.countryCodeInput > div:before {
  display: none;
}

.countryPhoneCode .countryCode {
  position: absolute;
  left: 12px;
}


/* ----------------------------------------------------------------
	Sign Up Form
-----------------------------------------------------------------*/
.signUpContainer .authFormBox .radioBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.signUpContainer .authFormBox .radioBox label {
  margin: 0px 20px;
}

.signUpContainer .authFormBox .radioBox .MuiFormControlLabel-label {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.signUpContainer .authFormBox .radioBox .Mui-checked {
  color: #2aac27;
}

.themeBtn {
  background: #0072bc;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.formSeperator {
  letter-spacing: 0.1em;
  margin: 25px auto;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  color: #616161;
  display: flex;
  align-items: center;
}

.formSeperator::before,
.formSeperator::after {
  content: "";
  position: relative;
  border-top: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  overflow: hidden;
  margin-top: 2px;
}

.formSeperator::before {
  right: 0.5em;
}

.formSeperator::after {
  left: 0.5em;
}

.textField p.formError {
  margin: 5px 0px 0px 10px;
  font-weight: 400;
  font-size: 14px;
  color: #ff6666;
}

.signUpContainer .successfullLogin {
}


/* ----------------------------------------------------------------
	Sign In Form
-----------------------------------------------------------------*/
.signInContainer .formFooterLinks{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signInContainer .formFooterLinks p{
  margin-top: 12px;
}






/* ----------------------------------------------------------------
	Responsive Design
-----------------------------------------------------------------*/

@media (max-width: 575px){
  .authContainer .authFormSection .authFormBox{
    padding: 20px;
  }

  .authFormSection{
    padding: 40px 15px;
  }

  .signUpContainer .authFormBox .radioBox{
    justify-content: space-between;
  }

  .signUpContainer .authFormBox .radioBox label{
    margin: 0px;
  }

  .signUpContainer .authFormBox .radioBox .MuiRadio-root{
    padding: 0px;
    margin-right: 5px;
  }

  .signUpContainer .authFormBox .radioBox .MuiFormControlLabel-label{
    font-size: 16px;
  }
}